# Q1. Pandas version

In [ ]:
import pandas as pd
import numpy as np

In [64]:
pd.__version__

'2.2.3'

#### Getting the data

In [65]:
df = pd.read_csv('laptops.csv')

#### Q2. Records count

In [66]:
df.shape[0]

2160

In [67]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

# Q3. Laptop brands

#### How many laptop brands are presented in the dataset?

In [68]:
df['Laptop'].nunique()

2160

# Q4. Missing values

#### How many columns in the dataset have missing values?

In [70]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [69]:
sum_null_col = df.isnull().sum()
len(sum_null_col[sum_null_col > 0])

3

# Q5. Maximum final price

#### What's the maximum final price of Dell notebooks in the dataset?

In [71]:
Dell_laptops = df[df['Brand'] == "Dell"]
max(Dell_laptops['Final Price'])

3936.0

# Q6. Median value of Screen

#### 1. Find the median value of Screen column in the dataset.

In [72]:
df.Screen.median

<bound method Series.median of 0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64>

#### 2. Next, calculate the most frequent value of the same Screen column.

In [73]:
df.Screen.mode

<bound method Series.mode of 0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64>

#### 3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [74]:
#Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
df.Screen.fillna(df.Screen.mode)

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: object

#### 4. Now, calculate the median value of Screen once again.

In [75]:
df.Screen.median

<bound method Series.median of 0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64>

#### Has it changed?

In [76]:
# no the median hasn't changed

# Q7. Sum of weights

#### 1. Select all the "Innjoo" laptops from the dataset.

In [94]:
injo_data = df[df['Brand'] == "Innjoo" ]
injo_data

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

#### 2. Select only columns RAM, Storage, Screen.

In [96]:
injo_data_features = injo_data[["RAM", "Storage", "Screen"]]
injo_data_features

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

#### 3. Get the underlying NumPy array. Let's call it X.

In [97]:
X = injo_data_features.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

#### 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [98]:
XT = X.T
XTX = np.dot(XT, X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

#### 5.

In [99]:
#Compute the inverse of XTX
inverse = np.linalg.inv(XTX)
inverse

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

#### 6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

In [88]:
y = [1100, 1300, 800, 900, 1000, 1100]
y

[1100, 1300, 800, 900, 1000, 1100]

#### 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [100]:
s = np.dot(inverse, XT)
s
w = np.dot(s, y)
w

array([45.58076606,  0.42783519, 45.29127938])

#### 8. What's the sum of all the elements of the result?

In [101]:
w.sum()

np.float64(91.2998806299555)